<div>
	<div ng-if = "cartItems.length == 0">
		<div class="alert alert-danger" role="alert">
			<strong>You have an empty cart</strong>
		</div>
	</div>

	<div ng-if = "cartItems.length != 0" class = "col-sm-12">
		
		<div ng-repeat="item in cartItems">

			<div class="media-left">
	                  
	        	<img src="{{item.imgUrl}}" style="width: 64px; height: 64px;" class="media-object" alt="64x64">
	                 
	        </div>
	        <div class="media-body" ng-init = "item.qty = 1">
	          
	          <h4 class="media-heading">{{item.name}}</h4>
	          <span>{{item.description}}</span>
	          <span><input type="number" ng-model="item.qty" class="input-mini"></span>
	          <span><input type="number" disabled = "disabled" ng-model="item.price"></span>
	          <span>{{item.qty * item.price}} [<a href ng:click="removeItem($index)">X</a>]</span>

		</div>

		</div>
		<div class = "well text-center">
		<div> <h2> Total : {{total()}} $</h2></div>

			<input type = "button" ui-sref = "cart.checkout" class = "btn btn-primary" value = "Checkout">

		</div>
		</div>

	 <div ui-view></div>

</div>



