<div class = "text-center">
<div class = "label label-success">Please conform your order</div>
</div>
<div ng-repeat="item in cartItems">

			<div class="media-left">
	                  
	        	<img src="{{item.imgUrl}}" style="width: 64px; height: 64px;" class="media-object" alt="64x64">
	                 
	        </div>
	        <div class="media-body" ng-init = "item.qty = 1">
	          
	          <h4 class="media-heading">{{item.name}}</h4>
	          <span>{{item.description}}</span>
</div>
</div>

<div class = "well text-center">
		<div> <h2> Total : {{total()}} $</h2></div>

			<input type = "button" ui-sref = "cart.checkout" class = "btn btn-success" onClick = "alert('Done')" value = "Done">

</div>