<div>

	<div class="col-md-12">
		<div class = "alert alert-success"><h3> Provide Shipping Details</h3></div>	
	</div>

<form id="contactform" class="form-horizontal m-t-20" role="form" ng-init = "contact" name = "contactform">
		
		
		<div class = "row">
		<div class="col-md-6">
		<label>First Name</label>
			<input type="text" class="form-control" required = "true"  ng-model = "contact.firstName" name="contact.firstName" placeholder="First Name">
		</div>
		
		<div class="col-md-6">
		<label>Last Address</label>
			<input type="text" class="form-control" required = "true" ng-model = "contact.lastName" name="contact.lastName" placeholder="Last Name">
		</div>
		</div>


		<div class = "row">
		<div class="col-md-6">
		<label>Phone</label>
			<input type="tel" class="form-control" required = "true"  ng-model = "contact.phone" name="contact.phone" placeholder="Phone">
		</div>
		
		<div class="col-md-6">
		<label>Email Address</label>
			<input type="email" class="form-control" required = "true" ng-model = "contact.email" name="contact.email" placeholder="Email Address">
		</div>
		</div>

		<div class = "row">
			<div class="col-md-12">
				
				<label for="Address">Address</label>
				<textarea id = "Address" ng-model = "contact.address"class="form-control" rows="5" ></textarea>
				
			</div>
		</div>

		<div class = "row">
		 <div class="col-md-12">
			<button  ui-sref = "confirm" ng-disabled="contactform.$invalid || contactform.contact.email.$invalid" ng-click = "confirm();" type="button" class="btn btn-success btn-block">
				Confirm
			</button>
		</div>
		</div>
		
		
		
		</div>
		
		</form> 

</div>