<div class='col-sm-12'>
	<div class = "text-center alert alert-info">
    <div class='thumbnail'>
		<img ng-src = '{{currentProduct.imgUrl}}' class = 'img-rounded'/> 
			<div class='caption well'>
					<strong>{{ currentProduct.name | uppercase }}</strong>
					<p>{{ currentProduct.description }}</p>
					<p>{{dummyText}}</p>
					<p>
						<a class='btn btn-primary' ng-click = 'addToCart(currentProduct)'
		 				role='button'>Add To Cart |  $ {{currentProduct.price }}</a>
		 			</p> 
			</div>
	</div>
	</div>	
</div>