<div class = "col-sm-6">
	<input type="text" placeholder="Search" ng-model="email" type = "email" class="form-control">
</div>

<div class = "col-sm-6">
	<input type = "button" class = "btn btn-success btn-block" ng-click = "retrieveCart()" value = "Retrieve">
</div>
