<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping-Cart</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/lib/bootstrap.css">
    <!-- endbuild -->
  </head>
  <body ng-app="shoppingCartApp">
    <!--[if lt IE 7]>
      <p>Outdated Browser</p>
    <![endif]-->
  <div class = "container" ng-controller="mainController">
   <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="/">Fashion Cart</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="casuals">Casuals</a></li>
        <li><a ui-sref="formals">Formals</a></li>
        <li><a ui-sref="shoes">Shoes</a></li>
        <li><a ui-sref="accessories">Accessories</a></li>
        <li><a ui-sref="cart" id = "cart">Cart <span class="badge">{{cartItems.length}}</span></a></li>
        <li class = "pull-right"><a ui-sref="retrieve">Retrieve Cart Items</a></li>
        
    </ul>
    <form role="search" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" placeholder="Search" ng-model="searchText" class="form-control">
        </div>
    </form>


    
</nav>


    <div ui-view = "retrieve"></div>
    <div ui-view></div>


</div>
    <div class="footer">

    </div>

        <script src="scripts/lib/angular.min.js"></script>
        <script src="scripts/lib/angular-ui-router.min.js"></script>
        <script src="scripts/localStore.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/masterDataFactory.js"></script>
        <script src="scripts/controllers/main.js"></script>
</body>
</html>
