<div class='col-sm-6 col-md-4 col-lg-3 my-product'>
	<div class = "text-center alert alert-info">
    <div class='thumbnail'>
		<img ng-src = '{{product.imgUrl}}' class = 'img-rounded'/> 
			<div class='caption well'>
					<strong>{{ product.name | uppercase }}</strong>
					<p>{{ product.description }}</p>
					<p>
						<a class='btn btn-primary' ng-click = 'addToCart(product)'
		 				role='button'>Add To Cart |  $ {{product.price }}</a>
		 			</p> 
					
				 	<p><a class='btn btn-success'  ui-sref="details({ product: product})"
				 	role='button'>View Product</a>
				 	</p> 
			</div>
	</div>
	</div>	
</div>